### Открыть набор с помощью pandas ###

In [1]:
import pandas as pd
import numpy as np
my_df = pd.read_csv('/home/makar/Документы/dataset/Job_Placement_Data.csv')

### Вывести техническую информацию о датасете ###

#### 2.1 Описать типы переменных в наборе (какие являются непрерывные, категориальные, номинальные, ...): ####

In [2]:
my_df.info

<bound method DataFrame.info of     gender  ssc_percentage ssc_board  hsc_percentage hsc_board hsc_subject  \
0        M           67.00    Others           91.00    Others    Commerce
1        M           79.33   Central           78.33    Others     Science
2        M           65.00   Central           68.00   Central        Arts
3        M           56.00   Central           52.00   Central     Science
4        M           85.80   Central           73.60   Central    Commerce
..     ...             ...       ...             ...       ...         ...
210      M           80.60    Others           82.00    Others    Commerce
211      M           58.00    Others           60.00    Others     Science
212      M           67.00    Others           67.00    Others    Commerce
213      F           74.00    Others           66.00    Others    Commerce
214      M           62.00   Central           58.00    Others     Science

     degree_percentage undergrad_degree work_experience  emp_test_percentage  \
0                58.00         Sci&Tech              No                 55.0
1                77.48         Sci&Tech             Yes                 86.5
2                64.00        Comm&Mgmt              No                 75.0
3                52.00         Sci&Tech              No                 66.0
4                73.30        Comm&Mgmt              No                 96.8
..                 ...              ...             ...                  ...
210              77.60        Comm&Mgmt              No                 91.0
211              72.00         Sci&Tech              No                 74.0
212              73.00        Comm&Mgmt             Yes                 59.0
213              58.00        Comm&Mgmt              No                 70.0
214              53.00        Comm&Mgmt              No                 89.0

    specialisation  mba_percent      status
0           Mkt&HR        58.80      Placed
1          Mkt&Fin        66.28      Placed
2          Mkt&Fin        57.80      Placed
3           Mkt&HR        59.43  Not Placed
4          Mkt&Fin        55.50      Placed
..             ...          ...         ...
210        Mkt&Fin        74.49      Placed
211        Mkt&Fin        53.62      Placed
212        Mkt&Fin        69.72      Placed
213         Mkt&HR        60.23      Placed
214         Mkt&HR        60.22  Not Placed

[215 rows x 13 columns]>

In [3]:
my_df.dtypes

gender                  object
ssc_percentage         float64
ssc_board               object
hsc_percentage         float64
hsc_board               object
hsc_subject             object
degree_percentage      float64
undergrad_degree        object
work_experience         object
emp_test_percentage    float64
specialisation          object
mba_percent            float64
status                  object
dtype: object

1. gender : Пол кандидата - **Категориальные данные (Номинальные)**
2. ssc_percentage : Процент сдачи экзаменов в старших классах средней школы (10-й класс) - **Числовые данные (Дискретные)**
3. ssc_board : Совет по образованию для экзаменов ssc - **Категориальные данные (Номинальные)**
4. hsc_percentage : Процент сдачи экзаменов в старших классах средней школы (12-й класс) - **Числовые данные (Дискретные)**
5. hsc_borad : Совет по образованию для экзаменов на hsc  - **Категориальные данные (Номинальные)**
6. hsc_subject : Предмет изучения для hsc - **Категориальные данные (Номинальные)**
7. degree_percentage : Процент оценок в степени бакалавра - **Числовые данные (Дискретные)**
8. undergrad_degree : Специальность бакалавриата - **Категориальные данные (Номинальные)**
9. work_experience : Прошлый опыт работы  - **Категориальные данные (Номинальные)**
10. emp_test_percentage : Процент теста на пригодность - **Числовые данные (Дискретные)**
11. specialization : Специальность последипломного образования - (специализация MBA) - **Категориальные данные (Номинальные)**
12. mba_percent : Процент оценок в степени MBA (TARGET) - **Числовые данные (Дискретные)**
13. status : Статус размещения . Размещено / Не размещено - **Категориальные данные (Номинальные)**

#### 2.2 Вывести статистические характеристики набора: ####

In [4]:
my_df.describe()

,ssc_percentage,hsc_percentage,degree_percentage,emp_test_percentage,mba_percent
count,215.000000,215.000000,215.000000,215.000000,215.000000
mean,67.303395,66.333163,66.370186,72.100558,62.278186
std,10.827205,10.897509,7.358743,13.275956,5.833385
min,40.890000,37.000000,50.000000,50.000000,51.210000
25%,60.600000,60.900000,61.000000,60.000000,57.945000
50%,67.000000,65.000000,66.000000,71.000000,62.000000
75%,75.700000,73.000000,72.000000,83.500000,66.255000
max,89.400000,97.700000,91.000000,98.000000,77.890000

### Имеются ли пустые значения полей ###

### 3. Уметь показать и объяснить содержимое набора данных: ###
#### 3.3 Имеются ли пустые значения полей ####

In [5]:

for column in my_df.columns.tolist():
    print(column)
    print(pd.isnull(column))


##FALSE - пустые элементы отсутствуют, TRUE - есть пустые элементы

gender
False
ssc_percentage
False
ssc_board
False
hsc_percentage
False
hsc_board
False
hsc_subject
False
degree_percentage
False
undergrad_degree
False
work_experience
False
emp_test_percentage
False
specialisation
False
mba_percent
False
status
False

#### 3.4 Статистические характеристики числовых полей (мин, макс, среднее,медиана). ####

In [6]:
my_df["ssc_percentage"].min()

40.89

In [7]:
my_df["ssc_percentage"].max()

89.4

In [8]:
my_df["ssc_percentage"].mean()

67.30339534883721

In [9]:
my_df[['ssc_percentage', 'hsc_percentage']]. median()

ssc_percentage    67.0
hsc_percentage    65.0
dtype: float64

### 4 Выполнить срезы набора данных: по именам полей, по индексам ###

#### 4.1. По именам полей (Выведу все строки начиная со столбца **gender** и заканчивая столбом **degree_percentage**) ####

In [10]:
my_df.loc[5:15, "gender":"degree_percentage"]

,gender,ssc_percentage,ssc_board,hsc_percentage,hsc_board,hsc_subject,degree_percentage
5,M,55.0,Others,49.8,Others,Science,67.25
6,F,46.0,Others,49.2,Others,Commerce,79.00
7,M,82.0,Central,64.0,Central,Science,66.00
8,M,73.0,Central,79.0,Central,Commerce,72.00
9,M,58.0,Central,70.0,Central,Commerce,61.00
10,M,58.0,Central,61.0,Central,Commerce,60.00
11,M,69.6,Central,68.4,Central,Commerce,78.30
12,F,47.0,Central,55.0,Others,Science,65.00
13,F,77.0,Central,87.0,Central,Commerce,59.00
14,M,62.0,Central,47.0,Central,Commerce,50.00
15,F,65.0,Central,75.0,Central,Commerce,69.00

#### 4.2. По индексам полей (Выведу первые 20 строк для каждой колонки) ####

In [11]:
my_df.iloc[3:20, 1:4]

    ssc_percentage ssc_board  hsc_percentage
3             56.0   Central            52.0
4             85.8   Central            73.6
5             55.0    Others            49.8
6             46.0    Others            49.2
7             82.0   Central            64.0
8             73.0   Central            79.0
9             58.0   Central            70.0
10            58.0   Central            61.0
11            69.6   Central            68.4
12            47.0   Central            55.0
13            77.0   Central            87.0
14            62.0   Central            47.0
15            65.0   Central            75.0
16            63.0   Central            66.2
17            55.0   Central            67.0
18            63.0   Central            66.0
19            60.0    Others            67.0

### 5. Выполнить выбороки с фильтрацией по значниям полей (равенство, неравенство, частичный фильтр строк с помощью лямбда-функции), с использованием |, & ###

In [12]:
my_df[(my_df.gender == "F")].iloc[lambda x: (x.index % 2 == 0) & (x.index < 40) , 0:4]

   gender  ssc_percentage ssc_board  hsc_percentage
6       F            46.0    Others            49.2
12      F            47.0   Central            55.0
18      F            63.0   Central            66.0
22      F            69.8    Others            60.8
30      F            64.0   Central            73.5
32      F            61.0   Central            81.0
38      F            73.0    Others            58.0

 #### 5.1 Выполнить сортировку отфильтрованного набора данных ####

In [13]:
my_df[(my_df.gender == "F")].iloc[lambda x: (x.index % 2 == 0) & (x.index < 40) , 0:4].sort_values(by=["ssc_percentage"], ascending = [True])

   gender  ssc_percentage ssc_board  hsc_percentage
6       F            46.0    Others            49.2
12      F            47.0   Central            55.0
32      F            61.0   Central            81.0
18      F            63.0   Central            66.0
30      F            64.0   Central            73.5
22      F            69.8    Others            60.8
38      F            73.0    Others            58.0

### 6. Выполнить группировку данных по некоторым признакам (на основе предварительного анализа содержимого набора данных) ###

In [14]:
my_df.groupby("undergrad_degree")[['ssc_percentage', 'hsc_percentage', 'degree_percentage']].agg([np.mean, np.max, np.min])

                 ssc_percentage              hsc_percentage               \
                           mean  amax   amin           mean  amax   amin
undergrad_degree
Comm&Mgmt             65.955586  87.0  40.89      67.185379  97.0  40.00
Others                64.227273  88.0  49.00      60.181818  86.0  37.00
Sci&Tech              71.189322  89.4  49.00      65.385593  97.7  42.16

                 degree_percentage
                              mean  amax  amin
undergrad_degree
Comm&Mgmt                66.203103  85.0  50.0
Others                   60.666364  78.0  52.0
Sci&Tech                 67.844237  91.0  52.0

### 7. Выполнить объединение таблиц с различнымы типами присоединения (если нет возможности выполнить эту операцию с загруженным набором, то допускается создать собственные наборы) ###

In [15]:
documents_df = pd.DataFrame([["Sci&Tech", "diplom"], ["Comm&Mgmt", "certificate"]], columns=["undergrad_degree", "document"])
##Создам дополнительный фрейм с документами к каждому направлению вуза

In [16]:
full_df = my_df.merge(documents_df, how="left", left_on="undergrad_degree", right_on="undergrad_degree")

full_df.head()

,gender,ssc_percentage,ssc_board,hsc_percentage,hsc_board,hsc_subject,degree_percentage,undergrad_degree,work_experience,emp_test_percentage,specialisation,mba_percent,status,document
0,M,67.00,Others,91.00,Others,Commerce,58.00,Sci&Tech,No,55.0,Mkt&HR,58.80,Placed,diplom
1,M,79.33,Central,78.33,Others,Science,77.48,Sci&Tech,Yes,86.5,Mkt&Fin,66.28,Placed,diplom
2,M,65.00,Central,68.00,Central,Arts,64.00,Comm&Mgmt,No,75.0,Mkt&Fin,57.80,Placed,certificate
3,M,56.00,Central,52.00,Central,Science,52.00,Sci&Tech,No,66.0,Mkt&HR,59.43,Not Placed,diplom
4,M,85.80,Central,73.60,Central,Commerce,73.30,Comm&Mgmt,No,96.8,Mkt&Fin,55.50,Placed,certificate